Venv/
.gitattributes
for_test.py
.idea
__pycache__/
.venv/
venv/
PART_1_HTML_CSS/HomeWork/2023_12_14_HTML_DZ_Module_1_Week_1/desktop.ini
PART_1_HTML_CSS/HomeWork/2023_12_14_HTML_DZ_Module_1_Week_1/desktop.ini
*.ini
*.ini
*.rar
.vscode/
settings.json
data.json
mesql/
My_DB/