*{ /*Значение по умолчанию для всех элементов*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{ /*псевдокласс для создаия ссылок на эллементы (переменные), на которые можно обратиться через функцию var()*/
	--clr: #222327; /*объявляем свою переменную, но только в данном примере переназначается уже дефолтная переменная, которая означает background*/
}
body{
	display: flex;
	justify-content: center; /*для выравнивания текста по центру*/
	align-items: center; /*для выравнинваия блоков*/
	min-height: 100vh;
	background: var(--clr);
}
.navigation{
	position: relative;
	width:400px;
	height:70px;
	background: #fff;
	display:flex;
	justify-content:center;
	align-items: center;
	border-radius:10px;
}
.navigation ul{
	display:flex;
	width:350px;
}
.navigation ul li{
	position:relative;
	list-style:none;
	width:70px;
	height:70px;
	z-index:1;
}
.navigation ul li a{
	position: relative;
	display: flex;
	font-size:1.5em;
	justify-content: center;
	align-items:center;
	flex-direction:column; /*Формирование элементов в строке(колонкиб строкиб сетка). "Это значит, что каждое слово переносится на следующую строку в колонке*/
	width:100%;
	text-align:center;
	font-weight:500; /*толщина жирности шрифта*/
}
.navigation ul li a .icon{
	position: relative;
	display:block;
	line-height:75px;
	font-size:1.5em;
	text-align:center;
	transition:0.5s; /*время выполнения анимации*/
 	color:var(--clr);
}
.navigation ul li.active a .icon{
	transform: translateY(-32px);
}
.navigation ul li a .text{
	position: absolute;
	color: var(--clr);
	font-weight:400;
	font-size:0.75em;
	letter-spacing:0.05em; /*отступы между элементами*/
	transition:0.5s; /*Время за которое применяется параметр opacity*/
	opacity:0; /*прозрачность*/
	transform: translateY(20px); 
}
.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px); /*отрисовка индикатора При необходимости изменить на дефолт 10px*/
}
/*отрисовка индикатора*/
.indicator{
	position:absolute;
	top:-50%;
	width:70px;
	height:70px;
	background:#29fd53;
	border-radius:50%;
	border:6px solid var(--clr);
	transition:0.5s;
}
.indicator::before{
	content: ' ';
	position:absolute;
	top:50%;
	width:20px;
	left:-22px;
	height:20px;
	background:transparent;
	border-top-right-radius:20px;
	box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after{
	content: ' ';
	position:absolute;
	top:50%;
	width:20px;
	right:-22px;
	height:20px;
	background:transparent; /*Устанавливает прозрачный фон*/
	border-top-left-radius:20px;
	box-shadow: -1px -10px 0 0 var(--clr);
}
/*nth-child - дочерний класс нужен для описания конкретного элемента в группе, 
на основе нумерации элементов*/
.navigation ul li:nth-child(1).active ~.indicator{
	transform: translateX(calc(70px*0))
}
.navigation ul li:nth-child(2).active ~.indicator{
	transform: translateX(calc(70px*1))
}
.navigation ul li:nth-child(3).active ~.indicator{
	transform: translateX(calc(70px*2))
}
.navigation ul li:nth-child(4).active ~.indicator{
	transform: translateX(calc(70px*3))
}
.navigation ul li:nth-child(5).active ~.indicator{
	transform: translateX(calc(70px*4))
}
