
.photo{ /*свойства блока в котором содержится кратинка*/
    position: absolute; /*абсолютное позиционирование*/
    left: 40%; /*выравнивание по середине, сделано 40% процентов, так как при 50% смещается дальше от центра*/
    top: 30%; /*вертикальное выравнивание*/
    border: 10px solid grey; /*размер обрамления фоторграфии и ее цвет*/
}
.photo img{ /*форматирование первой рамки, которая содержит картинку*/
    display: block; /*применятеся для того, чтобы картинка была приклеена к блоку див*/
    width: 250px; /*подправил размер, так как картинка немного больше*/
    height: 250px;
}
.photo::after{ /*это воторая из трех рамок*/
    content:""; /*необходимо для того чтобы внутри данной рамки не был белый фон*/
    position: absolute; /*тоже применяется абсолютное позиционирование*/
    left: -10px; /*вручную отстроено, так как у родительской рамки задан размер для рамки*/
    top: -10px; /*ручаная корреткирока, потому как отсутствует рамки top и botom*/
    width: 250px; height: 270px; /*размер настроен вручную для корректировки родительского размера*/
    z-index: 1; /*переносит картинку на 3 слой, поверх картинки*/
    transform: rotate(45deg); /*поворачивает рамку на 45 градусов*/
    border-left: 10px solid red; /*задает параметры левой рамки*/
    border-right: 10px solid red; /*задает параметры для правой рамки*/
}
.photo::before{ /*это третья рамка, форматирование тоже самое что и второй*/
    content:"";
    position: absolute;
    left: -10px; 
    top: -10px;
    width: 250px; height: 270px;
    z-index: -1; /*делает слой -1 и тогда рамка становится за картинкой*/
    transform: rotate(135deg); /*поворачивает рамку в противоположную сторону*/
    border-left: 10px solid red;
    border-right: 10px solid red;
}
